@{
    ViewData["NonSixOs"] = true;
	ViewData["Title"] = "Thủ thuật phẩu thuật";
}

<link href="~/dist/lib/toastr/build/toastr.min.css" rel="stylesheet" />
<link href="~/dist/css/CSS0302/CSS0302TTPT/CSS0302Index.css" rel="stylesheet" />

<div class="card p-1">
    <div class="card-infor">
        <div id="info-tenbn">--</div>
        <div id="info-namsinh">--</div>
        <div id="info-datetime">--</div>
        <div id="info-bacsi">--</div>
    </div>

        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs nav-fill" data-bs-toggle="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a href="#tabs-danhsach-7" class="nav-link active" data-bs-toggle="tab" aria-selected="true" role="tab">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/home -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-2 icon-2">
                            <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                        </svg>Danh sách
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-thongtin-7" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-2 icon-2">
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>Thông tin thủ thuật
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-trinhtu-7" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-2 icon-2">
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>Trình tự và kết luận
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-ekip-7" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-2 icon-2">
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>Ekip thực hiện
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="#tabs-thuoc-7" class="nav-link" data-bs-toggle="tab" aria-selected="false" tabindex="-1" role="tab">
                        <!-- Download SVG icon from http://tabler.io/icons/icon/user -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon me-2 icon-2">
                            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        </svg>Thuốc - vật tư y tế
                    </a>
                </li>
            </ul>
        </div>
    <div class="card-body" style="padding: 3px !important;">
        <div class="tab-content">
            <div class="tab-pane active show" id="tabs-danhsach-7" role="tabpanel">
                <!-- Load vào đây --> 
             </div>
            <div class="tab-pane" id="tabs-thongtin-7" role="tabpanel"></div>
            <div class="tab-pane" id="tabs-trinhtu-7" role="tabpanel"></div>
            <div class="tab-pane" id="tabs-ekip-7" role="tabpanel"></div>
            <div class="tab-pane" id="tabs-thuoc-7" role="tabpanel"></div>
        </div>
    </div>

</div>



@section Scripts {
    <script src="~/dist/lib/toastr/build/toastr.min.js"></script>
    <script src="~/dist/js/J0302/J0302TTPT/J0302Index.js" asp-append-version="true" defer></script>
}
