@{
    ViewData["Title"] = "Thông tin thủ thuật phẩu thuật";
}

<link href="~/dist/lib/toastr/build/toastr.min.css" rel="stylesheet" />

<style>


</style>
<div class="card p-1">
    <h1> thông tin nè</h1>
</div>



@section Scripts {

}




