@{
    ViewData["Title"] = "Thuốc vật tư y tế";
}

<style>

</style>
<div class="row me-0">
    <div class="col-12 col-lg-2 mb-2 pe-1">
        trái
    </div>
    <div class="col-12 col-lg-10 ps-1 pe-0">
        phải
    </div>
</div>

@section Scripts {

}




