
*.sln


[Bb]in/
[Oo]bj/

**/[Pp]ublish/
**/[Tt]emp.publish/

*.log
*.cache

.vs/

*.suo
*.user

ApplicationHost.config

*.vssscc
*.vsscc
*.vspscc

*.pdb
*.pidb
*.dll.config


packages/
node_modules/
npm-debug.log
bower_components/

*.mdf
*.ldf
*.sdf